
body {
 margin: 0;
}

/* left side */

@media (min-width: 667px) {
  .left {
   height:100vh;
 }

 .change_image {
  bottom: 5px;
}
}

@media (max-width: 667px) {
  .left {
   height:40vh;
 }

 .change_image {
  bottom: 60vh;
}
}

.left {
 float: left;
 background: black;
}

.left_image {
 background-size: cover;
 background-position: center center;
 height: 100%;
 width: 100%;
 z-index: 0;
}

.change_image {
  position: absolute;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 10px 8px;
  color: #9f9f9f;
  z-index: 15;
}

.change_image > a {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}

/* Content */
h2 {
 color: #3c3c3c;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
 margin-bottom: 0;
}

p {
 font-family: 'Montserrat Alternates', sans-serif;
}

.state {
 color: #666;
 font-family: 'Open Sans', sans-serif;
 font-weight: semi-bold;
}

.tag > a {
 color: #9f9f9f;
 font-family: 'Open Sans', sans-serif;
 text-decoration: none;
 font-size: small;
 padding: 2px 3px 2px 0px;
}

.tag {
 margin-bottom: 10px;
}

/* social icom */

ul {
  padding: 0;
  list-style: none;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a li {
  text-decoration: none;
}

.social-icons > li > a {
  color: #9f9f9f;
  padding:10px 10px 10px 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;

}

.fa-facebook:hover {
  color: #3d5b99;
}


.fa-twitter:hover {
  color: #00aced;
}


.fa-linkedin:hover {
  color: #0073a4;
}

.fa-github:hover {
  color: #333;
}

/* footer */

@media (min-width: 667px) {
  .footer {
    bottom: 5px;
  }
}

@media (max-width: 667px) {
  .footer {
    bottom: auto;
    padding: 5px ;

  }
}

.footer {
  position: absolute;
  overflow: hidden;
  color: #9f9f9f;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}


.footer > * {
 color: #3c3c3c;
 text-decoration: none;
}
