.imageInfo {
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 10px 8px;
    color: #9f9f9f;
    z-index: 15;
}